[2017-02-07 19:15] nvictus opened #1 "Add signature string to `info` attributes"
To make detection of HDF5 groups containing Coolers easier, we decided to include an additional top-level attribute to serve as a signature.

[code]

Also, adding something like `info['generated-by'] = 'hic2cool-xxx'` could also be useful metadata.

[2017-02-11 01:52] golobor opened #2 "Adds 'chr' to chromosome names already containing 'chr'"
Hi,
really great tool, many many thanks!
I've found a small issue: even if chromosome names already contain a prefix "chr", hic2cool still adds "chr" to it, such that you get chromosome names like "chrchr1". I possibility could be that you have tested the tool using the Broad Institute's assembly of the human genome; they chose not to prepend their chromosome names with 'chr' and name their chromo

[2017-02-11 02:41] golobor commented on #1
(a) Cooler.info is read-only; the attributes can be modified at the hdf5 level:
h5py.File(path, mode='a').attrs['generated-by'] = 'hic2cool-xxx'
(b) It would also be super useful to pull the name of the genome assembly into to the attribute attrs['genome-assembly']

[2017-02-11 17:20] carlvitzthum commented on #1
Great, I appreciate the feedback. I'll add these features.

[2017-02-12 20:24] golobor commented on #2
thank you! We are already using this tool, it's very useful!

[2017-02-15 20:46] #2 closed

[2017-02-15 20:46] #1 closed

[2017-07-06 19:43] SooLee opened #5 "memory issue"
We had an occasion where >15GB mem was required for 749.2 MB hic file. Could it be optimized a bit more?

[2017-08-01 13:30] pkerpedjiev opened #7 "Installing hic2cool doesn't install executable"
`hic2cool` is successfully installed using pip:

[code]

But when I try to run it from the command line, it says that `hic2cool` is not found:

[code]

This is using conda and python3.

[2017-08-10 13:51] pkerpedjiev opened #8 "Error converting hic file"
The HiC file can be downloaded from here:

[ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2358nnn/GSM2358971/suppl/GSM2358971_Kc167primary.hic.gz](ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2358nnn/GSM2358971/suppl/GSM2358971_Kc167primary.hic.gz)

The error is here:

[code]

[2017-09-06 13:44] carlvitzthum commented on #7
Fixed as of version 0.3.6.

[2017-09-06 13:44] #7 closed

[2017-09-06 15:15] lidaof opened #13 "unicode error"
Hi developer, I am trying to convert a hic file to a cool file but get the following error.
<pre>
$ hic2cool test.hic test.cool
Traceback (most recent call last):
  File "/usr/local/bin/hic2cool", line 11, in <module>
    load_entry_point('hic2cool==0.3.7', 'console_scripts', 'hic2cool')()
  File "/usr/local/lib/python2.7/dist-packages/hic2cool/__main__.py", line 46, in main
    args.normalization

[2017-09-06 17:40] nvictus commented on #13
This seems to be an issue coming from older minor versions of Python 2.7! See https://github.com/celery/kombu/issues/622.

Two possible compatibility fixes:
* Drop the `unicode_literals` import, and prefix all intended unicode literals with `u`
* Prefix string arguments to `struct.unpack` with `b` to make them byte literals

Of course, @lidaof  for an immediate fix, you can upgrade to the latest P

[2017-09-06 18:22] lidaof commented on #13
thanks, updated to python 2.7.13 fixed this.

[2017-09-08 16:51] carlvitzthum commented on #8
This issue was due to a faulty file on GEO.

[2017-09-08 16:51] #8 closed

[2017-09-08 17:17] carlvitzthum commented on #13
Thanks for finding this issue! In the next release (0.3.8), this issue will be solved through the second solution suggested by @nvictus.

[2017-09-08 17:17] #13 closed

[2017-09-09 05:56] lidaof opened #14 "IndexError: list index out of range"
Dear developer,

I got another error while trying to convert an hic to a cool file, could you please tell me how to fix this?
<pre>
################
### hic2cool ###
################
hic file header info:
Chromosomes:  [u'All', u'chr1', u'chr2', u'chr3', u'chr4', u'chr5', u'chr6', u'chr7', u'chr8', u'chr9', u'chr10', u'chr11', u'chr12', u'chr13', u'chr14', u'chr15', u'chr16', u'chr17', u'chr18', u

[2017-09-11 14:43] lidaof opened #15 "key error"
Would like to report another issue, thanks
<pre>
$ hic2cool GSE63525_IMR90_combined_30.hic GSE63525_IMR90_combined_30.cool
################
### hic2cool ###
################
hic file header info:
Chromosomes:  [u'All', u'chr1', u'chr2', u'chr3', u'chr4', u'chr5', u'chr6', u'chr7', u'chr8', u'chr9', u'chr10', u'chr11', u'chr12', u'chr13', u'chr14', u'chr15', u'chr16', u'chr17', u'chr18', u'chr19',

[2017-09-15 15:08] carlvitzthum commented on #14
@lidaof Sorry for the slow reply. From the error, it would seem there is a bin missing from the input hic file. Is the file you're using publicly available? I would need to test with it to properly diagnose the issue.

Thanks!

[2017-09-15 20:22] lidaof commented on #14
I just double checked and these are the files:
ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE63nnn/GSE63525/suppl/GSE63525_IMR90_combined.hic.gz
ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE63nnn/GSE63525/suppl/GSE63525_IMR90_combined_30.hic.gz
thanks

[2017-09-15 20:23] lidaof commented on #14
sorry, these 2 files are for issue #15

[2017-09-15 20:25] lidaof commented on #14
for this issue the file is under https://bcm.app.box.com/v/aidenlab/folder/11235404320 with name `IMR90.hic`

[2017-09-15 20:27] carlvitzthum commented on #14
Great, I'll look into it! A bunch of development will be going into hic2cool over the next couple weeks, so I hope to address the issues you've brought up as well as memory issues with running big files. Thanks for reporting your issues.

[2017-09-29 14:44] sameet commented on #5
As a followup, what are general memory requirements for such a conversion?

[2017-10-17 22:32] carlvitzthum commented on #14
@lidaof Version 0.4.0 is now released, which I confirmed runs on your files (including those referenced in #15 ). Please let me know if you have any further issues. hic2cool will continue to be under active development, so don't forget to check back soon.

[2017-10-17 22:32] #14 closed

[2017-10-17 22:32] carlvitzthum commented on #15
Please see #14

[2017-10-17 22:32] #15 closed

[2017-10-17 22:34] carlvitzthum commented on #5
@sameet I have released version 0.4.0, which takes big steps towards improving memory usage and overall runtime. In my tests, hic files up to 10GB consumed up to 2 GB of memory locally. I will leave this issue open for now, since I have further memory and speed optimizations in mind that I will implement in a future version.

[2017-10-18 19:12] carlvitzthum commented on #14
@lidaof Just a quick followup- please use newly released version 0.4.1, which addresses another with hic files from older versions of juicer, such as your `IMR90.hic` file.

[2018-07-11 19:04] sergpolly opened #20 "Type of start/end columns in cooler bins is int32"
Not an issue at all, but something to have in mind for downstream processing:
```cooler.bins()[:]```-DataFrame ends up having ```np.int32``` dtypes for ```start/end``` columns,  which is different from a typical cooler file that one gets using cooler binning, it's ```int64``` there. I'm not sure if there is a standard for that (@nvictus ?)

This, for example, lead to a tough to debug situation in

[2018-11-09 21:45] pkerpedjiev opened #21 "Pip install error with os/lzma_stub.h"
Just posting this in case others run into this issue. When installing hic2cool with pip I get:

[code]

This is easily fixed by install pysam with conda:

[code]

[2018-11-09 21:45] #21 closed

[2018-11-12 22:17] pkerpedjiev-zymergen commented on #21
Another similar error:

[code]

To solve, make sure that `xz-dev` library is installed.

[2019-01-01 08:59] zhixuqiu opened #22 "how to output normalization counts?"
Hi,
I converted my Hi-C matrix from heic format to cool format. But the reads counts of new cool file were original reads number not the normalization values. Could you tell me how to output normalization counts? My command is
[code]

[2019-01-15 17:36] DoaneAS commented on #22
I'm also wondering if hic2cool applies matrix balancing normalization using cooler.  I generated a .multi.cool file from a .hic file, and it includes all the normalizations that were present in the .hic file, plus a normalization called "default" which was not in the .hic file.

[2019-01-15 22:32] sergpolly commented on #22
Cooler stores raw bin counts , and applies balancing weights "on the fly" as needed... Balancing weights are stored as part of `bins` table.  Check cooler schema for reference: https://cooler.readthedocs.io/en/latest/schema.html#data-collection

For example, balancing is automatically applied when viewing `.mcool` in HiGlass , or fetching snippets of the matrix using cooler Python API : https://co

[2019-01-24 19:24] carlvitzthum commented on #20
@sergpolly Thanks for identifying this issue, and sorry it's taken me so long to respond. I will make a hic2cool release soon that addresses changing the dtype to `np.int64`.

[2019-01-24 20:48] carlvitzthum commented on #20
Following up on this: I am not sure that `np.int64` is the correct type for `start/end`. `np.int32` may in fact be correct. This is based off of the [cooler schema](https://cooler.readthedocs.io/en/latest/schema.html#data-collection) and the source code ([here](https://github.com/mirnylab/cooler/blob/00d9ab4de4c504c5a60a7d49bf33f5670f361182/cooler/create/__init__.py#L10) and [here](https://github.

[2019-01-24 20:55] carlvitzthum commented on #22
Thank you @sergpolly for the explanation.

@DoaneAS, could you send me the command you used to interrogate your hic2cool `.multi.cool` file? I don't see a normalization named "default" in `bins` table of my output files, just the weights corresponding to `.hic` normalization vectors (`KR`, `VC`, `VC_SQRT`...)

[2019-01-25 06:04] sergpolly commented on #20
looks like I've confused `bins_1/2` and `start/end1/2` at some point - former are `int64` according to `schema`, whereas latter ones are `int32` (which is a bit strange - but should be discussed elsewhere) , i.e. I was clustering by `bins_1/2` initially and than switched to `start1/2` AND tried to use `.cool` produced by `hic2cool` at the same time - which caused the confusion that I wanted to doc

[2019-01-25 06:04] #20 closed

[2019-01-25 14:32] carlvitzthum commented on #20
Okay, thanks for following up.

[2019-01-25 16:21] nvictus commented on #22
Hi @DoaneAS. As @sergpolly pointed out, all normalization vectors are stored in the bin table, separately from the raw counts.

@carlvitzthum, I believe the "default" comes from HiGlass's transforms menu. HiGlass will default to applying the normalization vector called `weight` if it exists (listed as ICE in HiGlass), otherwise the "default" normalization should be "None", i.e. raw counts.

`weigh

[2019-02-11 19:55] carlvitzthum commented on #22
I have just released version 0.5.0, which deprecates the inversion of hic vectors in the output cooler files. Please run `hic2cool update <cooler filepath>` to get your files caught up. See [the docs](https://github.com/4dn-dcic/hic2cool#updating-hic2cool-coolers) for more info.

Closing this issue. Please re-open a new one if something comes up when using the new version.

[2019-02-11 19:55] #22 closed

[2019-02-14 11:27] joachimwolff opened #24 "pip version broken"
Hi,

installing hic2cool version 0.5 with pip fails with:

[code]

However, version 0.4.2 works.

Best,

Joachim

[2019-02-19 16:43] carlvitzthum commented on #24
Hi @joachimwolff,

Thanks for the feedback. I have release version 0.5.1, which should fix this problem. Please let me know if the pip install continues to fail.

Also, if you have created any cooler files using version 0.4.2, please ensure to update them with `hic2cool update` when you have the new version. See [here](https://github.com/4dn-dcic/hic2cool#updating-hic2cool-coolers) for more info.

[2019-02-26 14:46] joachimwolff commented on #24
Hi,

Thanks for the update and the warning in respect of division and multiplication of correction factors. Do I understand it correctly that previously you did `CorrectedMatrix_i,j = originalMatrix_i,j * correctionFactor_i * correctionFactor_j` and this changes to `CorrectedMatrix_i,j = originalMatrix_i,j / correctionFactor_i * correctionFactor_j` therefore the correction factors are just `1/corr

[2019-02-26 15:18] carlvitzthum commented on #24
@joachimwolff

Yes, you understand correctly. For more information you can see [this issue](https://github.com/4dn-dcic/hic2cool/issues/22#issuecomment-457628431), written by the creator of cooler.

To your second question, there is a flag in the attributes of the cooler file called `generated-by` that keeps track of the hic2cool version used to make the file. Automatically `hic2cool update` uses

[2019-03-13 15:00] joachimwolff commented on #24
Hi Carl,

Thanks for your useful reply. I have one more question:

Is it: `CorrectedMatrix_i,j = originalMatrix_i,j / correctionFactor_i * correctionFactor_j` as I wrote or `CorrectedMatrix_i,j = originalMatrix_i,j / correctionFactor_i / correctionFactor_j` as it is written in the [comment](https://github.com/4dn-dcic/hic2cool/issues/22#issuecomment-457628431) from @nvictus?

Thanks a lot.

Joachi

[2019-03-13 16:50] carlvitzthum commented on #24
@joachimwolff @nvictus

In general,
Hic balancing: `CorrectedMatrix_i,j = count_i,j / (hic_weight_i * hic_weight_j)`
Cooler balancing: `CorrectedMatrix_i,j = count_i,j * cooler_weight_i * cooler_weight_j`

Cooler still uses multiplicative balancing. We just no longer invert the hic weights.
hic2cool < 0.5.0: `weight=1/hic_weight` and therefore `CorrectedMatrix_i,j = count_i,j * 1/weight_i * 1/weig

[2019-03-13 16:59] joachimwolff commented on #24
Thanks a lot for clarification.

We always had than the divisive way to store the data in our HiCExplorer. Anyway, this is an unpleasant situation for our users if they don't know which type of correction factors they have stored in their cooler files.

[2019-03-18 21:05] nvictus commented on #24
How about attaching some metadata to the attrs of the weight vectors? We already store some useful metadata when using `cooler balance` (you can take a look using the `cooler attrs` command).

It could be as simple as `divisive: True`. Taken to be False if missing (with the exception of the 3 special cases above).

[2019-04-19 10:35] Phlya commented on #5
I'm just trying to convert the biggest files from Rao et al 2014. I am doing it on a cluster where I request 32Gb memory, but the job dies with the following memory error:

[code]
After requesting 64Gb, it seems to be running, and maxvmem it uses is 38Gb! That is almost the size of the hic file (~40Gb). This seems a bit extreme! Is this normal?

[2019-04-19 14:34] carlvitzthum commented on #5
Thanks for reporting this! You may be the first to use hic2cool to convert a file of that size and your feedback is helpful. I will look into why such a memory requirement is so high when I get a chance.

Best,
Carl

[2019-04-19 15:37] Phlya commented on #5
Maybe the format has changed, but that's the filesize of original Rao et al 2014 .hic files, I'm sure people have converted them to coolers... I just got them from here https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE63525

[2019-04-22 13:24] Phlya opened #26 "Balancing weight inversion, or not"
There have been issues about it already, but still. As far as I understand, hic2cool>=0.5 should not invert KR etc normalization weights, and they should be divisive. But I have just converted a bunch of .hic files from Rao et al 2014 paper, and the weights are clearly multiplicative:
![image](https://user-images.githubusercontent.com/2895034/56502387-03d6d500-650a-11e9-9a32-d64b8ba2d8e2.png)
Note

[2019-04-22 15:40] Phlya commented on #26
Apologies, if I go further away form the telomere the weights look centered around 1 and not very small numbers, and looking at the heatmaps, the data is balanced when I use these weights (with the new cooler that special-cases these names). All is working as expected.

[2019-04-22 15:40] #26 closed

[2019-05-20 14:55] koustav-pal opened #27 "cool required attributes not found in hic files converted to cool files"
Hi

I have a package which allows users to import and read cool files. But, users have reported that when using the hic2cool converter, the files cannot be read. Investigation of the issue has lead me to believe that the problem is in hic2cool. Read on for details of the procedure.

I installed the hic2cool utility and tried to convert a .hic file to cool format.

I tried to use this file: https:/

[2019-05-20 20:14] carlvitzthum commented on #27
Hi @koustav-pal

Thanks for identifying this issue. I have released hic2cool version 0.6.0, which adds `format-version` and `storage-type` metadata attributes to the files. Per the [cooler data layout specifications](https://cooler.readthedocs.io/en/latest/schema.html#file-flavors), these are added to the top level cooler info for single resolution files and to each individual resolution in multi-

[2019-05-21 08:35] koustav-pal commented on #27
Hi @carlvitzthum

My tests show that the issue has been fixed. Thanks a lot!

[2019-05-21 16:11] imerelli opened #29 "hic2cool update"
Hi, hic2cool update is not working for me (both specifying the output or not). The software ask  yes/no for writing, but in both cases it raises an error. Here the error:

[code]

[2019-05-21 17:55] carlvitzthum commented on #29
Hi @imerelli

Thank you for reporting this issue. It was due to a python 2/3 incompatibility and should currently work with Python3. I will work on a fix for python 2 and keep you updated.

[2019-05-21 19:53] imerelli commented on #29
Honestly I have problems also with python3

[code]

[2019-05-21 21:23] carlvitzthum commented on #29
This is likely because you originally created `inter_30.mcool_old` using hic2cool with python 2. I will add a quick fix for that as well.

[2019-05-23 08:19] koustav-pal commented on #27
Hi @carlvitzthum,

My apologies as I had not correctly interpreted your fix. But, going over the cooler specification once again ([v3](https://github.com/mirnylab/cooler/blob/master/docs/schema_v3.rst), and [v2](https://github.com/mirnylab/cooler/blob/master/docs/schema_v2.rst)), it mentions that the metadata information is present at the root-level, which I interpret as being `/`.

Users are stil

[2019-05-23 14:41] carlvitzthum commented on #27
Hi @koustav-pal

No problem. It could be that I misunderstood the schema specification when I originally set up the attributes.

From the mcool file you linked, I find some attributes on the root level. As you point out, I have not been populating these for multi-resolution coolers.
[code]

But the majority attributes are on the individual resolutions when looking at the same file. As an aside, th

[2019-05-23 15:02] nvictus commented on #27
Hi Koustav,

Actually, the metadata is meant to be the root level of every cooler data collection. That means, if a cooler lives at `/resolutions/10000`, then the metadata for that resolution is attached directly to that group. Naturally, it would be impossible to attach metadata to every resolution at the very root of the file, because HDF5 attributes do not support nesting.

Carl is populating t

[2019-05-23 15:37] koustav-pal commented on #27
Hi Nezar,

So, in this case is the presence of the `format-version` at the `/` level of the `mcool` files a bug?

I guess for cool files the existence of the metadata at the `/` level is to be expected, correct?

[2019-05-23 16:12] nvictus commented on #27
Hi Koustav,

Like I said, `format-version` at the `/` level refers to the *M*COOL layout (`'format': 'HDF5::MCOOL'`), and not the COOL format. So it isn't a bug, but I apologize for the confusion.

Yes, for a single-resolution .cool file, the root of the data collection and the root of the file are identical.

[2019-05-23 16:43] nvictus commented on #27
Note that there are a few file introspection functions to determine if a file is single-res or multi-res (i.e. mcool), and a `list_coolers` function to list all individual cooler data collections inside a file regardless of the file's layout: https://cooler.readthedocs.io/en/latest/api.html#cooler-fileops

[2019-05-23 17:27] carlvitzthum commented on #27
@koustav-pal I will go ahead and add `{'format': 'HDF5::MCOOL', 'format-version': 2}` to the `/` attributes for mcool files generated by hic2cool. Even if it's not strictly necessary, I think it is helpful. I will release shortly and let you know.

[2019-05-23 20:51] carlvitzthum commented on #27
hic2cool 0.7.1 is released, which now adds the aforementioned attributes to the `/` level. I have also added an update function so files created by previous versions of hic2cool can be brought up-to-date using `hic2cool update`.

Please let me know if there are further issues.

[2019-05-24 10:18] koustav-pal commented on #27
Thanks a lot for the help @carlvitzthum.

I think this issue is resolved.

[2019-05-24 10:18] #27 closed

[2019-05-24 14:05] #29 closed

[2019-05-29 19:04] balwierz opened #32 "wrong chromosome names appear in warning messages"
I am converting a hic file. The genome is mouse (mm9), which has 19 somatic chromosomes, chrX, chrY, chrM and some *_random scaffolds. However I am getting warning messages which make no sense:
[code]
I opened the binary .hic file and looked in the header: the chromosomes are named UCSC style chr1..chr19,chrX,chrY,chrM indeed. I peeked into the code and realised that `c1` and `c1` (passed as a sin

[2019-05-31 01:27] carlvitzthum commented on #32
Hi @balwierz

Thanks for the helpful feedback. It was an easy addition to report the real chromosome name for that warning, so I added that and released **hic2cool 0.7.2**. Please let me know if the change does not work for you or other issues come up.

Best,
Carl

[2019-06-04 14:25] #32 closed

[2019-06-05 15:36] #24 closed

[2019-06-25 15:36] carlvitzthum opened #34 "Preserve chromosome names from hic"
Issue raised via email:

I am using your hic2cool pipeline and encountering an issue. I get the .cool file, but the chromosome names are different. My chr_size.txt file I used for generating hic file has names like chr1, chr2 and so on, but the cool file has names 1,2,3,.. etc. The 'chr' prefix from the name is missing. Can you suggest a way to preserve the original chromosome name in this convers

[2019-06-26 14:53] carlvitzthum commented on #34
I am having trouble reproducing this issue with hic2cool 0.7.2. Using the test hic file in this repo (`test_data/test_hic.hic`) I find the following chromosome names when running `hic2cool convert`:
[code]

Then, opening a cooler using one of the resolutions from the resulting multi-res cooler seems to preserve chromosome names correctly:
[code]

[2019-06-27 18:08] carlvitzthum commented on #34
The issue was identified as the chromsome names in the input hic file. hic2cool was working as expected

[2019-06-27 18:08] #34 closed

[2019-07-06 10:12] francicco opened #35 "Installation problem"
Hi,

I'm having a hard time installing hic2cool. Pip fails:

[code]

I need it for HiCAssembler which ueses python 2.7. Any conflict here?

Thanks
F

[2019-07-08 15:13] carlvitzthum commented on #35
Hi @francicco

Thanks for raising the issue! The problem was caused by a new release of pandas 4 days ago (`0.25.0rc0`) that deprecates Python 2. I have pinned the previous pandas version to fix the problem. Please use `hic2cool==0.7.3` to get this change -- it's in the master branch, if you are using an editable install.

One more note: hic2cool will be ending support for Python 2.7 upon its offi

[2019-07-08 15:13] #35 closed

[2019-07-08 16:26] francicco commented on #35
Hi @carlvitzthum,

Thanks for the reply. I have to use Python2 because [HiCAssembler](https://github.com/maxplanck-ie/HiCAssembler/commits?author=GinaRe) needs it. So, this is what I'm doing:

[code]
But I get the error anyway

[code]

[2019-07-08 16:49] francicco commented on #35
If I install it with Python3 I get these errors when I install HiCAssembler

[code]

If I remove `cooler==0.8.5` and install `cooler==0.8.2` then hic2cool complains:

`ERROR: hic2cool 0.7.3 has requirement cooler>=0.8.5, but you'll have cooler 0.8.2 which is incompatible.`

What to do?
F

[2019-07-08 17:20] carlvitzthum commented on #35
Hi @francicco

Both of the following work for me in clean Python 2.7 virtual environments:
[code]
As such, it installs correctly in an isolated and the problem is not from the hic2cool side. I took a quick look at the HiCAssembler [requirements file](https://github.com/maxplanck-ie/HiCAssembler/blob/master/requirements.txt) and the way they have set up their package, it will automatically attempt

[2019-07-09 10:32] francicco commented on #35
It's a mess. I manually installed (via `pip install -e .`) all dependencies using python 2.7 with the exception of `matplotlib`. HiCExplorer now complains because it wants `matplotlib==3.0.*`, but `matplotlib` now wants Python3.

F

[2019-08-29 15:00] rikrdo89 opened #37 "ability to convert selected chromosomes"
I am not sure if this is possible with the current release, but I would be really helpful to have the ability to convert to .cool only a subset of the genome, say a chromosome or a region. This would be great for testing purposes without having to work on the whole genome.

[2019-09-04 18:49] carlvitzthum commented on #37
Hi @rikrdo89

Thanks for submitting a feature request! This is a good idea and is definitely possibly to implement. It cannot be done with the current release; the only way to convert a subset of the genome would be to input a .hic file that contains only that subset (including corresponding header information).

However, our team will be very busy for the next few months. I will add this request

[2019-09-11 19:54] wyim-pgl opened #38 "hic2cool convert error with Juicer hic file"
Hi!
I am working with Juicer hic file to convert cool format for matrix analysis. During converting, I have an error ***"buffer size must be a multiple of element size"***.
Do you have any recommendation to solve this?
Thanks.

[code]

[code]

[2019-10-08 17:28] rahmas36 opened #39 "Error in converting .hic to .cool"
Hi, I want to try out this new protocol called Cut-C, which combines Micro-C with Cut and Run to identify protein-centric interactions at high resolution. The authors uploaded .hic files on GEO which I wanted to convert to m.cool to visualize on HiGlass. However, when converting the .hic file to .cool I received this error message: ... This does not appear to be a HiC file; magic string is incorre

[2019-10-08 17:35] burakalver commented on #39
Hi. It looks like the people who submitted the data to GEO used a wrong extension. The file looks like a pairs file, and not a hic file. That is why it can't be accepted by juicer or hic2cool. You should be ableo to use cooler to build a cool file. https://cooler.readthedocs.io/en/latest/

[2019-10-08 17:35] #39 closed

[2019-12-12 15:57] Linhua-Sun opened #40 "juicer hic (fragment level matrix) convert into cooler"
Hi:
I am wondering whether there is a way to convert fragment level contact matrix into cooler format file. The fragment level contact matrix is from juicer .hic format file (https://github.com/aidenlab/juicer/wiki/Pre) including 8 fragment-delimited resolutions are added: 500f, 250f, 100f, 50f, 20f, 5f, 2f, 1f.
Thanks

[2019-12-17 02:19] nvictus commented on #40
[Variable length bins](https://cooler.readthedocs.io/en/latest/schema.html#file-flavors) are supported in cooler. If it is not yet available in hic2cool, you can ingest the same kind of "Pre" input data (i.e. pairs) to [cooler cload pairs](https://cooler.readthedocs.io/en/latest/cli.html#cooler-cload-pairs), or binned data to [cooler load](https://cooler.readthedocs.io/en/latest/cli.html#cooler-lo

[2019-12-18 14:16] Linhua-Sun commented on #40
Wow. Thanks!  Great idea.

[2019-12-18 14:16] #40 closed

[2020-02-08 16:41] Captaincapture opened #41 "Hic2cool convert error"
Hi,
i want to convert my matrice in .hic to .cool but i have always this problem :
-----------------------------
`hic2cool -v
hic2cool 0.7.3`

`hic2cool convert Pvam_2.0.hic Pvam_2.0.cool
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/bin/hic2cool", line 8, in <module>
    sys.exit(main())
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/p

[2020-02-08 17:35] pkerpedjiev commented on #41
I got that same error a little while ago. It turned out the .hic file I was trying to convert hadn't downloaded completely and was corrupt. Not sure if there's an integrity check that can be done first but I would recommend making sure that the hic file is valid and complete.

[2020-02-08 20:37] SooLee commented on #41
Thanks, @pkerpedjiev! Yes, I think the hic file is likely truncated since it doesn't seem to have a footer (can't retrieve the first 4 bytes of a footer).

[2020-02-14 21:19] fanc-WU opened #42 "faster conversion?"
I'm trying to convert several relatively big .hic files into mcool format. They are around 20G. It took me 18 hours to convert 4.6G. I was wondering if there is a faster way? I didn't see any options to assign multiple threads or increase memory.

Thank you so much and best regards,
Fan

[2020-02-14 23:36] SooLee commented on #42
I don't think a faster option is available currently, but it looks like multiprocessing may be possible. I will see if I can implement something over the long weekend.

[2020-02-21 16:07] SooLee commented on #42
hic2cool 0.8.0 has a multiprocessing option now. It is not very efficient though. Would be slightly helpful for large high-resolution matrices.

[2020-02-21 16:12] fanc-WU commented on #42
Thank you so much for implementing this! I really appreciate it

[2020-02-21 16:12] #42 closed

[2020-03-24 23:00] chenggang108 opened #45 "Error -3 while decompressing data"
Hi
I am trying to convert .hic file to mcool.  It show error. Here is how it looks.
 Header info from hic
... Chromosomes:  ['ALL', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '3', '4', '5'                                                , '6', '7', '8', '9', 'M', 'X', 'Y']
... Resolutions:  [2500000, 1000000, 500000, 250000, 100000, 50000, 25000, 10000, 5000]
... Normaliz

[2020-03-24 23:28] SooLee commented on #45
Have you checked the hic file is correct and not corrupt?

[2020-03-24 23:44] chenggang108 commented on #45
Hi Lee,

The .hic file shows perfect matrix in juicebox.

[2020-03-25 00:36] SooLee commented on #45
Are you using multi-processing?

[2020-03-25 00:44] chenggang108 commented on #45
That's something I am trying now. It looks going further. Thank you for your answer. I will let you know

[2020-03-26 09:02] paulmenzel opened #46 "Update requirements to allow newer versions"
Currently, hic2cool prevents the installation of newer Python packages requiring higher versions than the ones listed in the hic2cool requirements.

Is it documented somewhere, why the versions are pinned down?

[2020-03-27 15:32] SooLee commented on #46
Sorry for the confusion. The actual dependencies in `setup.py` were not pinned but there was discrepancy between `setup.py` and `requirements.txt`. Now `setup.py` takes dependencies directly from `requirements.txt` (`requirements.txt` updated to match the old `setup.py`).

[2020-03-27 16:28] paulmenzel commented on #46
No problem, thank you for the changes in https://github.com/4dn-dcic/hic2cool/pull/47.

Is there a reason, why the `numpy>=1.10.1,<=1.16.3`, and `scipy<=1.2.1`?

[2020-03-27 19:55] SooLee commented on #46
I loosened the criteria in branch `dep` - somehow Travis is not working today though it passed the local tests. I will merge & release later.

[2020-03-27 21:41] SooLee commented on #46
0.8.2 is released with loosened version for `numpy`, `scipy` and `pandas`

[2020-03-28 06:07] paulmenzel commented on #46
Thanks. Closed by https://github.com/4dn-dcic/hic2cool/pull/48.

[2020-03-28 06:07] #46 closed

[2020-03-28 15:28] SooLee commented on #45
@chenggang108 How did it go?

[2020-04-02 22:28] dejunlin opened #49 "zlib.error when converting hic to cool"
Hi, this is Dejun from the Noble lab. When I run
[code]
on one my .hic file, I got this error:
[code]
at which point the process is stuck and won't exit unless I manually ctrl+c. I verified that the file `test.hic` can be opened in Juicebox and everything looks fine.

I am using hic2cool version 0.8.2 and python 3.8.2. Can anyone take a look? Here is the `test.hic` file that gave the error: https:

[2020-04-03 02:41] SooLee commented on #49
Can you try `0.8.3`?

[2020-04-03 07:27] Char-Aznable commented on #49
`0.8.3` works with the serial processing. But adding for example `-p 4`  will choke it:
[code]
Anyway, the serial version is good enough for now although it would be nice to have the parallel version too.

[2020-04-03 07:54] dejunlin commented on #49
`0.8.3` works with the serial processing. But adding for example `-p 4`  will choke it:
[code]
Anyway, the serial version is good enough for now although it would be nice to have the parallel version too.

[2020-04-07 19:32] chenggang108 commented on #45
@SooLee Sorry for the delay. Multi-processing works

[2020-04-07 19:57] SooLee commented on #45
Great. Thanks!

[2020-04-07 19:57] #45 closed

[2020-05-15 15:44] joachimwolff opened #51 "hic2cool conda version"
Hi,

Is there any reason why the dependencies on conda are more restricted than in you requirements.txt file?

[code]

Especially the `<=` restrictions are difficult because they prevent the update to new releases which other dependencies are requesting.

Best,

Joachim

[2020-05-15 15:47] SooLee commented on #51
Hmm. Good question. We are not maintaining the conda version actually. I'm guessing that there were problems related to dependency versions. But I'm not sure. Which dependency are you having an issue with?

[2020-05-15 15:53] joachimwolff commented on #51
All three ;)

In my experience numpy and scipy restrictions are not necessary, however, I do understand the one for pandas.

But: your last commit message for requirements.txt is `numpy scipy pandas version restriction removed`. So I think there used to be these restrictions but the bioconda bot is not removing them and updates only the release.

I can remove these restrictions on bioconda, if you

[2020-05-15 16:10] SooLee commented on #51
I see. I can remove the `<=` restrictions for numpy and scipy and release a new version. It looks like Bioconda creates a new version automatically for every updates?

[2020-05-15 16:12] joachimwolff commented on #51
No need for this, just a new build on bioconda. I request your review already.
https://github.com/bioconda/bioconda-recipes/pull/22132

[2020-05-15 16:33] SooLee commented on #51
ok I approved the changes, but I'm not 100% sure whether it would still work. Can you let me know? I will try to loosen the criteria and do tests later.

[2020-05-15 16:37] joachimwolff commented on #51
Thanks for approving, I will let you know if sth is not working.

[2020-05-18 06:13] nefclan opened #52 "Calling Cooler.pixels raises KeyError: 'nnz'"
hic2cool 0.8.3
cooler, version 0.8.6.post0
<pre>hic2cool convert -r 10000 -p 4 $INPUT_DIR/${sample}.hic $COOLER_FILE</pre>
<pre>>>> pixels = coolfh.pixels(join=True)
File "/xxxx/lib/python3.6/site-packages/cooler/api.py", line 286, in pixels
    cooler/api.py", line 286, in pixels
KeyError: 'nnz'</pre>

Converted cool's info.
<pre>>>> coolfh.info.keys()
dict_keys(['bin-size', 'bin-type', 'creation

[2020-05-18 15:45] SooLee commented on #52
@nefclan Thank you for reporting this. Do you get the same problem when you run it with `-p 1`?

[2020-05-20 21:38] nefclan commented on #52
That's it! I ran with  `-p 1`, this error never shows up.

[2020-08-19 11:32] #51 closed

[2020-11-03 13:01] mdozmorov commented on #49
Reporting exactly identical `zlib.error: Error -5 while decompressing data: incomplete or truncated stream` with `-p 4`. Processing on a single core resolves the error.

[2020-11-06 20:03] wyim-pgl commented on #38
Hi It was my mistake and it worked now.
Sorry for late.

Won

[2020-11-06 20:03] #38 closed

[2021-05-19 23:11] rahmas36 opened #54 "hic2cool command not found on zsh"
Hi, I recently updated my MacOS and now the command line shell switched from bash to zsh. I tried running hic2cool but the command was not found this time, even though previously the command always worked under bash. What should I do?

[2021-05-21 23:34] pkerpedjiev commented on #54
Were you using `conda`? How did you previously install it?

Check your `~/.bashrc` file for any PATH exports that may need to be ported over to `~/.zshrc`.

[2021-11-19 07:07] aakashsur opened #55 "Multiprocessing Error"
When I try to run hic2convert with _more_ than one processor, I get the following error -

[code]
It runs normally when I just have one processor.

[2021-12-01 18:18] chorzow opened #56 "Encoding problem while converting a Juicer matrix?"
Hello everyone,

I am trying to convert a .hic matrix that had been created with Juicer Tools's Pre. I use Juicer Tools v2.12.00. Here is the command I use for conversion:

`hic2cool convert contact_map.hic contact_map.cool -r 10000`

However, I am getting this error:

`Traceback (most recent call last):
  File "/home/user/.conda/envs/hic2cool/bin/hic2cool", line 33, in <module>
    sys.exit(load_

[2022-01-07 07:35] AssumeAssume commented on #56
Hello, @chorzow , you are not alone. I've compared the results between Juicer Tools version 2 and version 1, their `.hic` file headers appear different, which I guess cause this issue. I'm still looking for a solution.

[2022-02-10 14:48] joachimwolff commented on #55
I can confirm this, but getting a different error:

[code]

[2022-02-17 09:47] jinkang1234 opened #57 "ValueError when converting hic file to cool file"
I met an error when converting hic file to cool format file. The error message is below.
`ValueError: buffer is smaller than requested size`

.hic file was generated using hicpro2juicebox.sh in HiC-Pro-3.1.0 with default parameters. I used juicer_tools_2.13.07.jar to generate hic file. What should I do check?

[2022-03-30 00:11] kalavattam commented on #56
Any follow up on this?

[2022-03-30 06:41] jinkang1234 commented on #57
I have recently solved this error by generating a hic file with juicer_tools_1.22.01.jar although I could not understand why the error occurred...

[2022-03-31 15:17] rekado opened #58 "h5py 3 requires mode argument"
With h5py 3 there's a test failure, because the test doesn't pass the mandatory mode argument to `h5py.File` at:

https://github.com/4dn-dcic/hic2cool/blob/5a7d12e40ce65c6dbd83404efe6950e430d243a9/test.py#L65

and in `hic2cool/hic2cool_updates.py`.

[2022-04-05 06:57] chorzow commented on #56
@kalavattam no updates from the developers yet. However, I managed to convert new-format `.hic` fies to `.cool` via additional conversion step.
Cooler files require two objects to be created from: `bins`, determining the "layout" of the resulting file, and `pixels` with the contacts themselves.
For now, I convert my `.hic` files to `.cool` with the following procedure:
1. Determine how `bins` obje

[2022-05-10 15:18] tonyjhlam opened #59 "hic2cooler not working with hic v9 formatting from Juicer v2"
Hello hic2cooler team,

hic2cooler isn't working with the v9 formatting from the new v2 of Juicer. Can support be added to handle this new formatting?

Thanks,
Tony

@sa501428

[2022-05-23 22:24] tonyjhlam commented on #56
@chorzow Can you upload an example of this? I am trying to resolve this issue and cannot reproduce your solution.

[2022-05-31 16:35] sa501428 opened #60 "New .hic format"
ENCODE is using a new .hic format. How does hic2cool handle/read .hic files? Easiest option would be to use the latest version of [straw](https://github.com/aidenlab/straw/tree/master/pybind11_python). Alternatively, details about the new format are in [this repo](https://github.com/aidenlab/hic-format).

Related thread
https://github.com/deeptools/HiCExplorer/issues/798#issuecomment-1142319166

[2022-09-21 08:21] gabrielluishernandez opened #61 "error: object header message is too large"
Hi,
I have run this command:
`hic2cool convert input.hic out.cool`

Nonetheless, I get the following error:
`ValueError: Unable to create dataset (object header message is too large)`

Do you have any advice on a workaround for this?

Thanks,
Gabriel

[2022-10-31 21:44] lldelisle commented on #60
Waiting for a better solution, this python script is working, using hicstraw (available on pip: https://pypi.org/project/hic-straw/) and cooler (https://cooler.readthedocs.io/en/latest/):
[code]

[2022-10-31 21:45] lldelisle commented on #59
See #60